<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DevConnectors </a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" routerLink="#">Developers</a>
      <a class="nav-item nav-link" routerLink="post">Post</a>
      <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
      <a class="nav-item nav-link" routerLink="">Logout</a>
    </div>
  </div>
</nav>
<br>
<br>

<p class="para">Posts</p><br>
<p class="para1">Welcome to the community</p>
<mat-card>say something....</mat-card><br>
<div><textarea class="ta" placeholder="Create a post"></textarea></div><br>

<button type="submit" class="btn">Submit</button><br><br>

<div class="boxed">
  <img src="assets/person.png" class="img">
   <p class="post">The Mouse programming language is a small computer programming language developed by Dr. Peter Grogono in the late 1970s and early 1980s.[1][2][3] It was developed as an extension of an earlier language called MUSYS, which was used to control digital and analog devices in an electronic music studio.Mouse was originally intended as a small, efficient language for microcomputers with limited memory. It is an interpreted, stack-based language and uses Reverse Polish notation. To make an interpreter as easy as possible to implement, Mouse is designed so that a program is processed as a stream of characters, interpreted one character at a time.

    Posted on 08/09/20</p>

</div>






